#bestelling table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 1em 0;
}

#bestelling table thead {
  font-weight: bold;
}

#bestelling table tr {
  border-bottom: 1px solid rgb(226, 226, 226);
}

#bestelling .container {
  width: 60%;
}

#bestelling #reserveer {
  float: right;
}

tfoot {
  font-weight: bold;
}

.cross-cart {
  padding: 1em;
  color: rgb(214, 47, 47);
}
.cross-cart:hover {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
 #bestelling .container {
   width: 90%;
 }
}