.titel {
    margin-left: 12.5%;
}

#input1 {
    border-color: #e2e2e2;
    border-style: solid;
    border-radius: 5px;
    padding-left: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-left: 6%;
    border-width: 1px;
    background-color: rgb(243, 243, 243);
}

#input1:focus {
    outline: none;
}

#input2 {
    border-color: #e2e2e2;
    border-style: solid;
    border-radius: 5px;
    padding-left: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-left: 2.5%;
    border-width: 1px;
    background-color: rgb(243, 243, 243);
}

#input2:focus {
    outline: none;
}

#input3 {
    border-color: #e2e2e2;
    border-style: solid;
    border-radius: 5px;
    padding-left: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-left: 1.8%;
    border-width: 1px;
    background-color: rgb(243, 243, 243);
}

#input3:focus {
    outline: none;
}

#verplicht {
    font-size: small;
}

.button {
    color: #003703;
    background-color: #7ed913;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 8px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 5px;
    user-select: none;

    margin-left: 25.3%;
}

#email_validation {
    margin-left: 5%;

}

#map{
    margin-top: -31%;
    margin-right: 8%;
    float: right;
}

#titel2{
    margin-left: 15%;
}