footer {
   margin-top: 5em;
    right: 0;

    left: 0;
    padding: 1rem;
    color: #212121;
    background-color: #fff;
    text-align: center;
}

#footer {
    z-index: -1;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 22px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #7ed913;
    color: white;
}

.fa-twitter {
    background: #7ed913;
    color: white;
}

.fa-linkedin {
    background: #7ed913;
    color: white;
}

.fa-instagram {
    background: #7ed913;
    color: white;
}

#copy{
    font-size: 9px;
}

