@import 'nav.css';
@import 'contact.css';
<<<<<<< HEAD
@import 'about.css';

=======
@import 'profile.css';
>>>>>>> master
body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  background-color: rgb(243, 243, 243);
}

.container{
  width: 85%;
  margin: 0 auto;
}

.right {
  display: inline;

  text-align: right;

}
.select{
  font-family: 'Titillium Web', sans-serif;
  border: 1px #ddd solid;
  border-radius: 2px;
  padding: 0.5em;
  margin-right: 1em;
}