@import 'nav.css';
@import 'contact.css';
@import 'product.css';
@import 'about.css';
@import 'profile.css';
@import 'cart.css';
@import 'modal.css';

body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  background-color: rgb(243, 243, 243);
}

.container{
  width: 85%;
  margin: 0 auto;
}
#catContainer
{
margin-top: 20px;


;
}
/* opmaak aparte producten*/
#catContainer div{
  display: inline-block;
  margin-left: 30px;
  border-radius: 5px;

}

#catContainer div:hover
{
  background-color: rgb(232, 232, 232);

}
#catContainer img
{
  display: inline-block;
  width: 200px;

}
#catContainer h3
{
  text-align: center;
}

.right {
  display: inline;

  text-align: right;

}
.select{
  font-family: 'Titillium Web', sans-serif;
  border: 1px #ddd solid;
  border-radius: 2px;
  padding: 0.5em;
  margin-right: 1em;
}
.btn {
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
.btn:hover{
  cursor: pointer;
}
.center-btn {
  margin: 0 auto;
  width: 70%;
  margin-left: 15%;
}
.primary {
  color: rgb(214, 214, 214);
  background-color: #50ce26;
}