.modal-layer{
background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    position: fixed;
}
body{
    background-color: rgba(0,0,0,0.4);

}

hr{
    color: #aaaaaa;
}
.modal{
    overflow: auto;
    z-index: 1;
    height: 400px;
    width: 600px;
    background-color:white ;
    border-radius: 5px;
    position: fixed;

}

.header{
    height: 20%;
}

.body{
    height: 40%;
    margin-top: 2em;
    margin-bottom: 2em;

}

.footer{
    height: 20%;
}

.tekst{
    height:80%;
    width: 80%;
    background-color : white;
    padding: 20px;
}

.close{
    color: #aaaaaa;
    float: right;
    font-size: 2em;
    font-weight: bold;
}
#yes{
    background-color: #7ed913;
    border-radius: 5px;
    border: 1px #aaaaaa solid;
    position: relative;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

}
#no{
    border-radius: 5px;
    border: 1px #aaaaaa solid;
    position: relative;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}