c.verticalLine {
    border-left: thin solid black;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.nav {
    text-decoration: none;
}

#search {
    width: 70%;
    border: 1px #ddd solid;
    border-radius: 10px;
    padding: 0.5em;
    margin-left: 3em;
    margin-right: 1em;
    margin-top: 0;
}

nav {
    width: 100%;
    position: relative;
}

.icon {
    margin: 0.5em;
    color: #212121;
}

#home {
    width: 2em;
    length: 2em;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    margin-right: 1em;

}

a {
    color: #212121;
}

header {
    padding-bottom: 2em;
    padding-top: 2em;
    background-color: #fff;
}

form {
    padding-top: 1em;
}

#prList {
    visibility: hidden;
    position: absolute;
    overflow: auto;
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
    z-index: 5;
    max-height: 70vh;
    width: 50%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 3em;
    padding: 0em 1em;
}

#prList p {
    padding: 0.5em 0;
    margin: 0.5em 0;
    border-bottom: 1px solid rgb(223, 223, 223);
}

#prList p:hover {
    cursor: pointer;
}

@media screen and (max-width: 700px) {

    .verticalLine {
        margin-right: 0.2em;
        margin-left: 0.2em;
    }

    #search {
        margin-left: 3em;
        margin-right: 1em;


        padding: 0.5em;

        width: 29%;
    }

    .icon {
        color: #212121;

    }

    #home {
        width: 2em;
        length: 2em;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        margin-right: 1em;

    }


    form {
        padding-top: 1em;
    }


    .right{
        padding: auto;
    }

    .(fas fa-shopping-cart icon){
     color: brown;
    }
    ."fas fa-user icon"
}

