.verticalLine {
    border-left: thin solid black;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
.nav{
    text-decoration: none;
}
#search{
    width: 70%;
    border: 1px #ddd solid;
    border-radius: 10px;
    padding: 0.5em;
    margin-left: 3em;
    margin-right: 1em;

}
nav{
    width:100%;
    position:relative;
}

.icon{
    margin: 0.5em;
    color: #212121;
}
#home{
    width: 2em;
    length: 2em;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    margin-right: 1em;

}
a{
    color: #212121;
}

header {
    padding-bottom: 2em;
    padding-top: 2em;
    background-color: #fff;
}

form{
    padding-top: 1em;
}

